/* ****************************************************************************************************************** */
/* GENERAL SECTION STYLES */
/* ****************************************************************************************************************** */
* {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

::-webkit-input-placeholder {
    color: gray !important;
    opacity: 1;
    margin-left: 10px !important;
}

:-moz-placeholder {
    color: gray !important;
    opacity: 1;
    margin-left: 10px !important;
}

::-moz-placeholder {
    color: gray !important;
    opacity: 1;
    margin-left: 10px !important;
}

:-ms-input-placeholder {
    color: gray !important;
    opacity: 1;
    margin-left: 10px !important;
}

::-ms-input-placeholder {
    color: gray !important;
    opacity: 1;
    margin-left: 10px !important;
}

::placeholder {
    color: gray !important;
    opacity: 1;
    margin-left: 10px !important;
}

.primary-color {
    background-color: #ce93d8;
    color: black !important;
}

.secondary-color {
    background-color: #9fa8da;
    color: black !important;
}

.success-color {
    background-color: #a5d6a7;
    color: black !important;
}

.alert-color {
    background-color: #81d4fa;
    color: black !important;
}

.danger-color {
    background-color: #ef9a9a;
    color: black !important;
}

.btn-primary {
    color: #000;
    width: auto;
    height: 35px;
    background-color: #ce93d8;
    border: 1px dashed #9c27b0;
    border-radius: 30px !important;
}

.form-loader {
    background-color: #9fa8da !important;
}

.form-loader .indeterminate {
    background-color: #9c27b0 !important;
}

label {
    -webkit-transform: translateY(-0px) scale(0.8) !important;
    transform: translateY(-0px) scale(0.8) !important;
    color: gray !important;
}

/* ****************************************************************************************************************** */
/* NAVBAR SECTION STYLES */
/* ****************************************************************************************************************** */
.navbar {
    width: 100vw !important;
    height: 60px !important;
    border: 1px solid gray;
}

.navbar-collection {
    display: flex;
    width: 450px;
    margin-left: calc(50% - 225px);
}

.navbar-item {
    width: 150px;
    text-align: center;
    height: auto !important;
    padding: 5px !important;
    transition: all 0.2s ease-in;
}

.navbar-item:hover {
    cursor: pointer;
    border-bottom: 2px solid green;
}

.brand-text {
    margin-top: 10px !important;
}

/* ****************************************************************************************************************** */
/* AUTOMATON SECTION STYLES */
/* ****************************************************************************************************************** */
.automaton-container {
    height: 100vh;
    width: 100vw;
    padding: 0 !important;
}

.automaton-options {
    height: calc(100vh - 60px);
    border: 1px solid gray;
}

.automaton-input-container {
    height: 70% !important;
    width: 100% !important;
    padding: 10px;
}

.automaton-title {
    margin-top: 10px !important;
}

.btn-icon {
    height: 40px !important;
    width: 70px !important;
    margin-top: 20px !important;
}

.matcher-container {
    height: 30% !important;
    width: 100% !important;
    margin: 0 !important;
    border-top: 1px solid gray;
}

.automaton-matcher-form {
    padding: 5%;
}


.automaton-graph-container {
    height: calc(100vh - 60px);
    padding: 20px 0 0 0 !important;
}

.navbar-automaton {
    margin-top: -20px !important;
    width: 100% !important;
    height: 60px !important;
}

.navbar-automaton-collection {
    display: flex;
}

.navbar-automaton-item {
    width: 33%;
    text-align: center;
    height: 60px !important;
    margin-top: -16px !important;
    transition: all 0.2s ease-in;
    padding: 20px !important;
}

.navbar-automaton-item:hover {
    cursor: pointer;
    margin-top: -16px !important;
    border-bottom: 2px solid #ce93d8;
}

.navbar-automaton-item:active {
    border-bottom: 2px solid #ce93d8;
}

.graph, .json, .code {
    width: 100%;
    height: calc(100vh - 120px);
}

/* ****************************************************************************************************************** */
/* REGEX SECTION STYLES */
/* ****************************************************************************************************************** */

/* ****************************************************************************************************************** */
/* ABOUT SECTION STYLES */
/* ****************************************************************************************************************** */