<div class="row">
    <div class="col l4 automaton-options">
        <div class="automaton-input-container">
            <form class="automaton-form" id="automatonForm">
                <div class="row">
                    <div class="col s6">
                        <input class="validate" type="text" id="statesInput" name="statesInput" placeholder="A, B, C">
                        <label class="" for="statesInput">Estados</label>
                    </div>
                    <div class="col s6">
                        <input class="validate" type="text" id="symbolsInput" name="symbolsInput" placeholder="0, 1, 2">
                        <label class="" for="symbolsInput">Símbolos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="validate" type="text" id="statesInput" name="statesInput" placeholder="A">
                        <label class="" for="statesInput">Inicial</label>
                    </div>
                    <div class="col s6">
                        <input class="validate" type="text" id="symbolsInput" name="symbolsInput" placeholder="B, C">
                        <label class="" for="symbolsInput">Final</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <input class="validate" type="text" id="transitionInput" name="transitionInput"
                               placeholder="{state: A, symbol: 0, target: B}">
                        <label class="" for="transitionInput">Transición</label>
                    </div>
                    <div class="col s3">
                        <button class="btn btn-primary btn-icon"><i class="material-icons">add</i></button>
                    </div>
                </div>

                <div class="progress form-loader" id="loaderCreateAutomaton">
                    <div class="indeterminate"></div>
                </div>
                <div class="center-align">
                    <button class="btn btn-primary btn-match" id="btnCreateAutomaton">Crear autómata</button>
                </div>
            </form>
            <form class="regex-form" id="regexForm">
                <div class="col s6 input-field">
                    <input class="validate" type="text" id="statesInput" name="statesInput" placeholder="A, B. C">
                    <label class="" for="statesInput">Estados</label>
                </div>
                <div class="center-align">
                    <button class="btn btn-primary btn-match" id="btnCreateAutomaton">Crear autómata</button>
                </div>
            </form>
        </div>
        <div class="matcher-container">
            <form id="automatonMatcherForm" class="automaton-matcher-form">
                <div class="input-field">
                    <input id="string" type="text" class="validate">
                    <label class="active" for="string">Cadena a comprobar</label>
                </div>
                <div class="center-align">
                    <button class="btn btn-primary btn-match" type="submit">Verificar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col l8 automaton-graph-container">
        <div class="navbar-automaton">
            <ul class="navbar-automaton-collection">
                <li class="navbar-automaton-item" id="graphAutomatonLink">GRÁFICO</li>
                <li class="navbar-automaton-item" id="jsonAutomatonLink">JSON</li>
                <li class="navbar-automaton-item" id="codeAutomatonLink">CÓDIGO</li>
            </ul>
        </div>
        <div class="graph" id="graphAutomatonContainer"></div>
        <div class="json" id="jsonAutomatonContainer"></div>
        <div class="code" id="codeAutomatonContainer"></div>
    </div>
</div>