<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>automaton</title>

{#    <link rel="shortcut icon" href="./../static/img/icon.png" type="image/x-icon">#}

    <!-- CSS files -->
    <link rel="stylesheet" href="./../static/css/materialize.css">
    <link rel="stylesheet" href="./../static/css/icons.css">
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="./../static/css/rainbow.css">
    <link rel="stylesheet" href="./../static/css/vis.min.css">

    <script src="./../static/js/vis.min.js"></script>
</head>

<body>
<nav class="white">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Automaton & Regex</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="autoamatonLink">AUTOMATAS</a></li>
            <li><a id="regexLink">REGEX</a></li>
            <li><a id="aboutLink">ACERCA</a></li>
        </ul>
    </div>
</nav>

<div class="nav-separator"><br></div>

<div id="automatonContainer" class="automaton-container">
    {% include "automaton.html" %}
</div>

<div id="regexContainer" class="automaton-container">
    {% include "regex.html" %}
</div>

<div id="aboutContainer" class="about-container">
    {% include "about.html" %}
</div>

<!-- Javascript files -->
<script src="./../static/js/jquery.js"></script>
<script src="./../static/js/materialize.js"></script>
<script src="./../static/js/main.js"></script>
<script src="./../static/js/automaton.js"></script>
<script src="./../static/js/rainbow.min.js"></script>
</body>

</html>